Repository jupyterhub/binderhub, pull requests merged in 2025-09, with the labels that each got.

#2008 Update the commands of the helm post install notes to map helm chart fields correctly:
  helm-chart/binderhub/templates/NOTES.txt
Labels: documentation

#2014 Increase patch in version number of @jupyterhub/binderhub-client
  js/packages/binderhub-client/package.json
Labels: code:js-binderhub-client

#1961 Add comment to values.yaml to show how extraPodSpec can be used
  helm-chart/binderhub/values.yaml
Labels: documentation, code:helm-chart

#1954 Add id to buttons in launch form
  js/packages/binderhub-react-components/package.json
  js/packages/binderhub-react-components/src/BuilderLauncher.jsx
  js/packages/binderhub-react-components/src/LinkGenerator.jsx
Labels: code:js-binderhub-react-components

#2018 Use `binder-examples/requirements` as example GitHub input
  binderhub/repoproviders.py
  setupTests.js
Labels: maintenance
